<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 class="text-left mt-5 mb-4">Stupid Coaching</h1>

      <div class="mt-5">
        <%= form_tag("/answer", method: "post", data: { turbo: false }) do %>
          <blockquote class="blockquote ask-blockquote">
            <div class="mb-3">
              <%= label_tag(:question, "Question:", class: "form-label") %>
              <%= text_field_tag(:question, nil, class: "form-control") %>
            </div>
            <%= submit_tag("Ask!", class: "btn btn-primary") %>
          </blockquote>
        <% end %>
      </div>

      <%= link_to "Ask another question", ask_path, class: "btn btn-secondary mt-4" %>
    </div>
  </div>
</div>
